<?xml version="1.0"?>
<!--
 Copyright 2026 BYU FROST Lab

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bluerov2">

  <xacro:property name="mass" value="9.5" />
  <xacro:property name="ixx" value="0.16" />
  <xacro:property name="iyy" value="0.17" />
  <xacro:property name="izz" value="0.12" />

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://coug_description/urdf/meshes/bluerov2/bluerov2.dae" scale="0.025 0.025 0.025" />
      </geometry>
    </visual>
  </link>

  <xacro:macro name="thruster" params="prefix xyz rpy mesh mesh_rpy">
    <joint name="${prefix}_joint" type="fixed">
      <parent link="base_link" />
      <child link="${prefix}_link" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${mesh_rpy}" />
        <geometry>
          <mesh filename="package://coug_description/urdf/meshes/bluerov2/${mesh}" />
        </geometry>
      </visual>
    </link>
  </xacro:macro>

  <xacro:thruster prefix="thruster1" xyz="0.14 -0.092 0.0" rpy="${radians(-90)} ${radians(90)} ${radians(-45)}"
    mesh="t200_ccw_prop.dae" mesh_rpy="${radians(-90)} 0 0" />
  <xacro:thruster prefix="thruster2" xyz="0.14 0.092 0.0" rpy="${radians(-90)} ${radians(90)} ${radians(-135)}"
    mesh="t200_ccw_prop.dae" mesh_rpy="${radians(-90)} 0 0" />
  <xacro:thruster prefix="thruster3" xyz="-0.14 -0.092 0.0" rpy="${radians(-90)} ${radians(90)} ${radians(45)}"
    mesh="t200_cw_prop.dae" mesh_rpy="${radians(90)} 0 0" />
  <xacro:thruster prefix="thruster4" xyz="-0.14 0.092 0.0" rpy="${radians(-90)} ${radians(90)} ${radians(135)}"
    mesh="t200_cw_prop.dae" mesh_rpy="${radians(90)} 0 0" />
  <xacro:thruster prefix="thruster5" xyz="0.118 -0.215 0.064" rpy="0 0 0"
    mesh="t200_ccw_prop.dae" mesh_rpy="${radians(-90)} 0 ${radians(90)}" />
  <xacro:thruster prefix="thruster6" xyz="0.118 0.215 0.064" rpy="0 0 0"
    mesh="t200_cw_prop.dae" mesh_rpy="${radians(90)} 0 ${radians(90)}" />
  <xacro:thruster prefix="thruster7" xyz="-0.118 -0.215 0.064" rpy="0 0 0"
    mesh="t200_cw_prop.dae" mesh_rpy="${radians(90)} 0 ${radians(90)}" />
  <xacro:thruster prefix="thruster8" xyz="-0.118 0.215 0.064" rpy="0 0 0"
    mesh="t200_ccw_prop.dae" mesh_rpy="${radians(-90)} 0 ${radians(90)}" />

  <!-- Sensors -->
  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="imu_link" />

  <joint name="gps_joint" type="fixed">
    <parent link="base_link" />
    <child link="gps_link" />
    <origin xyz="-0.11770 -0.20723 0.40019" rpy="0 0 0" />
  </joint>
  <link name="gps_link" />

  <joint name="depth_joint" type="fixed">
    <parent link="base_link" />
    <child link="depth_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="depth_link" />

  <joint name="dvl_joint" type="fixed">
    <parent link="base_link" />
    <child link="dvl_link" />
    <!-- Sensor FLU frame; FRD data converted upstream -->
    <origin xyz="-0.27161 -0.10886 -0.01984" rpy="0 0 0" />
  </joint>
  <link name="dvl_link" />

  <xacro:macro name="dvl_beam" params="prefix yaw">
    <joint name="${prefix}_joint" type="fixed">
      <parent link="dvl_link" />
      <child link="${prefix}_link" />
      <!-- +X axis down each DVL beam -->
      <origin xyz="0 0 0" rpy="0 ${radians(67.5)} ${yaw}" />
    </joint>
    <link name="${prefix}_link" />
  </xacro:macro>

  <xacro:dvl_beam prefix="beam0" yaw="${radians(-135)}" />
  <xacro:dvl_beam prefix="beam1" yaw="${radians(135)}" />
  <xacro:dvl_beam prefix="beam2" yaw="${radians(45)}" />
  <xacro:dvl_beam prefix="beam3" yaw="${radians(-45)}" />

  <!-- TODO: Update this -->
  <joint name="modem_joint" type="fixed">
    <parent link="base_link" />
    <child link="modem_link" />
    <!-- Sensor FLU frame; FRD data converted upstream -->
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="modem_link" />

  <joint name="sonar_joint" type="fixed">
    <parent link="base_link" />
    <child link="sonar_link" />
    <!-- Sensor FRD frame -->
    <origin xyz="0.2 0 0" rpy="0 0 0" />
  </joint>
  <link name="sonar_link" />

</robot>
