<?xml version="1.0"?>
<!--
 Copyright 2026 BYU FROST Lab

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<robot name="couguv_holoocean" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="tf_prefix" default="" />
  <xacro:property name="tf_prefix" value="$(arg tf_prefix)" />

  <xacro:property name="base_radius" value="0.06" />
  <xacro:property name="base_length" value="1.2" />
  <xacro:property name="enclosure_length" value="0.5" />

  <xacro:property name="handle_height" value="0.07" />
  <xacro:property name="handle_width" value="0.04" />
  <xacro:property name="handle_length" value="0.15" />

  <xacro:property name="tray_height" value="0.02" />
  <xacro:property name="tray_width" value="0.05" />
  <xacro:property name="tray_length" value="0.38" />

  <!-- How far back the fins are from the middle -->
  <xacro:property name="fin_xoff" value="0.375" />
  <xacro:property name="fin_height" value="0.09" />
  <xacro:property name="fin_width" value="0.015" />
  <xacro:property name="fin_length" value="0.09" />

  <material name="White">
    <color rgba="1 1 1 1" />
  </material>
  <material name="Blue">
    <color rgba="0.196 0.6 0.8 1" />
  </material>
  <material name="Gray">
    <color rgba="0.5 0.5 0.5 1" />
  </material>
  <material name="Acrylic">
    <color rgba="0.9 0.9 0.9 0.5" />
  </material>

  <!-- Helpful macros -->
  <xacro:macro name="add_box" params="color xyz rpy x y z">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <box size="${x} ${y} ${z}" />
      </geometry>
      <material name="${color}" />
    </visual>
  </xacro:macro>

  <xacro:macro name="add_sphere" params="color xyz rpy radius">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <sphere radius="${radius}" />
      </geometry>
      <material name="${color}" />
    </visual>
  </xacro:macro>

  <xacro:macro name="add_cylinder" params="color xyz rpy radius length">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}" />
      <geometry>
        <cylinder radius="${radius}" length="${length}" />
      </geometry>
      <material name="${color}" />
    </visual>
  </xacro:macro>

  <!-- Body -->
  <link name="${tf_prefix}base_link" />

  <joint name="clear_body_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}clear_body_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}clear_body_link">
    <xacro:add_cylinder color="Acrylic" xyz="0 0 0" rpy="0 ${radians(90)} 0"
      radius="${base_radius}" length="${enclosure_length}" />
  </link>

  <joint name="front_body_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}front_body_link" />
    <origin xyz="${(base_length - 2*base_radius - enclosure_length)/4 + enclosure_length/2} 0 0" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}front_body_link">
    <xacro:add_cylinder color="Blue" xyz="0 0 0" rpy="0 ${radians(90)} 0" radius="${base_radius}"
      length="${(base_length - 2*base_radius - enclosure_length)/2}" />
  </link>

  <joint name="back_body_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}back_body_link" />
    <origin xyz="${-((base_length - 2*base_radius - enclosure_length)/4 + enclosure_length/2)} 0 0" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}back_body_link">
    <xacro:add_cylinder color="Blue" xyz="0 0 0" rpy="0 ${radians(90)} 0" radius="${base_radius}"
      length="${(base_length - 2*base_radius - enclosure_length)/2}" />
  </link>

  <!-- Handle -->
  <joint name="handle_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}handle_link" />
    <origin xyz="0 0 ${base_radius + handle_height/2}" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}handle_link">
    <xacro:add_box color="White" xyz="0 0 0" rpy="0 0 0" x="${handle_length}" y="${handle_width}" z="${handle_height}" />
  </link>

  <!-- Tray -->
  <joint name="tray_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}tray_link" />
    <origin xyz="0 0 ${-(base_radius + tray_height/2)}" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}tray_link">
    <xacro:add_box color="White" xyz="0 0 0" rpy="0 0 0" x="${tray_length}" y="${tray_width}" z="${tray_height}" />
  </link>

  <!-- Hull -->
  <joint name="hull_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}hull_link" />
    <origin xyz="${(base_length-2*base_radius)/2} 0 0" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}hull_link">
    <xacro:add_sphere color="Blue" xyz="0 0 0" rpy="0 0 0" radius="${base_radius}" />
  </link>

  <!-- Thruster -->
  <joint name="thruster_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}thruster_link" />
    <origin xyz="${-(base_length-2*base_radius)/2} 0 0" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}thruster_link">
    <xacro:add_cylinder color="Gray" xyz="0 0 0" rpy="0 ${radians(90)} 0"
      radius="${base_radius*0.9}" length="${2*base_radius}" />
  </link>

  <!-- Fins -->
  <xacro:macro name="fin" params="prefix rpy">
    <joint name="${prefix}_fin_joint" type="revolute">
      <parent link="${tf_prefix}base_link" />
      <child link="${tf_prefix}${prefix}_fin_link" />
      <origin xyz="${-fin_xoff} 0 0" rpy="${rpy}" />
      <axis xyz="0 0 1" />
      <limit lower="${radians(-45)}" upper="${radians(45)}" effort="10.0" velocity="1.0" />
    </joint>
    <link name="${tf_prefix}${prefix}_fin_link">
      <xacro:add_box color="White" xyz="${-fin_length/2} 0 ${base_radius+fin_height/2}" rpy="0 0 0"
        x="${fin_length}" y="${fin_width}" z="${fin_height}" />
    </link>
  </xacro:macro>

  <xacro:fin prefix="top" rpy="0 0 0" />
  <xacro:fin prefix="left" rpy="${radians(120)} 0 0" />
  <xacro:fin prefix="right" rpy="${radians(-120)} 0 0" />

  <!-- NOTE: These are exact HoloOcean socket locations as of 2.3.0 -->

  <!-- COM -->
  <joint name="com_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}com_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}com_link" />

  <joint name="gps_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}gps_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}gps_link" />

  <!-- IMUSocket -->
  <joint name="imu_joint" type="fixed">
    <parent link="${tf_prefix}com_link" />
    <child link="${tf_prefix}imu_link" />
    <origin xyz="0.504 0 -0.053" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}imu_link" />

  <!-- DepthSocket -->
  <joint name="depth_joint" type="fixed">
    <parent link="${tf_prefix}com_link" />
    <child link="${tf_prefix}depth_link" />
    <origin xyz="0.162 0 0" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}depth_link" />

  <!-- DVLSocket -->
  <joint name="dvl_joint" type="fixed">
    <parent link="${tf_prefix}com_link" />
    <child link="${tf_prefix}dvl_link" />
    <!-- Sensor FLU frame; FRD data converted upstream -->
    <origin xyz="0.504 0 -0.053" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}dvl_link" />

  <xacro:macro name="dvl_beam" params="prefix yaw">
    <joint name="${prefix}_joint" type="fixed">
      <parent link="${tf_prefix}dvl_link" />
      <child link="${tf_prefix}${prefix}_link" />
      <!-- +X axis down each DVL beam -->
      <origin xyz="0 0 0" rpy="0 ${radians(67.5)} ${yaw}" />
    </joint>
    <link name="${tf_prefix}${prefix}_link" />
  </xacro:macro>

  <xacro:dvl_beam prefix="beam0" yaw="${radians(0)}" />
  <xacro:dvl_beam prefix="beam1" yaw="${radians(90)}" />
  <xacro:dvl_beam prefix="beam2" yaw="${radians(180)}" />
  <xacro:dvl_beam prefix="beam3" yaw="${radians(-90)}" />

  <joint name="depth_camera_joint" type="fixed">
    <parent link="${tf_prefix}dvl_link" />
    <child link="${tf_prefix}depth_camera_link" />
    <origin xyz="0 0 0" rpy="0 ${radians(90)} 0" />
  </joint>
  <link name="${tf_prefix}depth_camera_link" />

  <joint name="depth_camera_optical_joint" type="fixed">
    <parent link="${tf_prefix}depth_camera_link" />
    <child link="${tf_prefix}depth_camera_optical_link" />
    <origin xyz="0 0 0" rpy="${radians(-90)} 0 ${radians(-90)}" />
  </joint>
  <link name="${tf_prefix}depth_camera_optical_link" />

  <!-- AcousticModemSocket -->
  <joint name="modem_joint" type="fixed">
    <parent link="${tf_prefix}com_link" />
    <child link="${tf_prefix}modem_link" />
    <!-- Sensor FLU frame; FRD data converted upstream -->
    <origin xyz="0.3785 0 -0.0985" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}modem_link" />

  <!-- CameraSocket -->
  <joint name="camera_joint" type="fixed">
    <parent link="${tf_prefix}com_link" />
    <child link="${tf_prefix}camera_link" />
    <origin xyz="0.1 0 0" rpy="0 ${radians(90)} 0" />
  </joint>
  <link name="${tf_prefix}camera_link" />

</robot>
