<?xml version="1.0"?>
<!--
 Copyright 2026 BYU FROST Lab

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<robot name="wamv_holoocean" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="tf_prefix" default="" />
  <xacro:property name="tf_prefix" value="$(arg tf_prefix)" />

  <xacro:include filename="$(find coug_description)/urdf/wamv.urdf.xacro" />

  <!-- NOTE: These are exact HoloOcean socket locations as of 2.3.0 -->

  <!-- Payload -->
  <joint name="depth_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}depth_link" />
    <origin xyz="0 0 0" rpy="0 ${radians(90)} 0" />
  </joint>
  <link name="${tf_prefix}depth_link" />

  <joint name="dvl_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}dvl_link" />
    <!-- Sensor FLU frame; FRD data converted upstream -->
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <link name="${tf_prefix}dvl_link" />

  <xacro:macro name="dvl_beam" params="prefix yaw">
    <joint name="${prefix}_joint" type="fixed">
      <parent link="${tf_prefix}dvl_link" />
      <child link="${tf_prefix}${prefix}_link" />
      <!-- +X axis down each DVL beam -->
      <origin xyz="0 0 0" rpy="0 ${radians(67.5)} ${yaw}" />
    </joint>
    <link name="${tf_prefix}${prefix}_link" />
  </xacro:macro>

  <xacro:dvl_beam prefix="beam0" yaw="${radians(0)}" />
  <xacro:dvl_beam prefix="beam1" yaw="${radians(90)}" />
  <xacro:dvl_beam prefix="beam2" yaw="${radians(180)}" />
  <xacro:dvl_beam prefix="beam3" yaw="${radians(-90)}" />

  <joint name="modem_joint" type="fixed">
    <parent link="${tf_prefix}base_link" />
    <child link="${tf_prefix}modem_link" />
    <!-- Sensor FLU frame; FRD data converted upstream -->
    <origin xyz="0 0 0" rpy="0 ${radians(90)} 0" />
  </joint>
  <link name="${tf_prefix}modem_link" />

</robot>
